.container{text-shadow: 0px 0px 1px #000;}
.size_1{background-color: #cc5544; color:#fff;}
.size_2{background-color: #ae317e; color:#fff;}
.size_3{background-color: #7eae31; color:#fff;}
.size_4{background-color: #3140ae; color:#fff;}
.size_5{background-color: #31aea0; color:#fff;}
.size_6{background-color: #0099e6; color:#fff;}
.size_7{background-color: #0077b3; color:#fff;}
.size_8{background-color: #317eae; color:#fff;}
.size_9{background-color: #00334d; color:#fff;}
.size_10{background-color:#0099e6; color:#fff;}
